<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Marks Portal</title>
</head>
<body>
{% include 'navbar.html' %}

<div class="container" style="margin-top: 200px;text-align: center">
    <div class="row">
        {% include 'messages.html' %}
        <div class="col-12">
            <a href="{% url 'submit_marks' %}" class="btn btn-primary">Enter Marks</a>
            <a href="{% url 'leaderboard' %}" class="btn btn-outline-success">LeaderBoard</a>
        </div>
    </div>
</div>

</body>
</html>